{% extends 'base.html' %}

{% block main %}
    {% if data.username is none %}
        <div class="row">
            <div class="col-md-6">
                You have to Login First to Upload the images.
                <br>
                <br>
                <blockquote class="blockquote">
                    <p>
                        <small>
                            <i class="fa fa-quote-left"></i> Imagine a world in which every single person on the planet is given free access to the sum of all human knowledge.
                            That's what we're doing.
                            <i class="fa fa-quote-right"></i>
                        </small>
                    </p>
                </blockquote>
            </div>
            <div class="col-md-6">
                <a href="{{ url_for('mwoauth.login') }}"
                   style="margin-top: 5vw;margin-left: 20vw;" class="btn btn-success">
                    <i class="fa fa-sign-in"></i> Login to the tool
                </a>
            </div>
        </div>

    {% else %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="post" action="{{ url_for('upload') }}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend" style="width: 100%;">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="url" id="srcUrl" name="srcUrl" class="form-control" placeholder="Enter Source URL" />
                        </div>
                        <small class="form-text text-muted" style="margin-bottom:10px;">
                            Ex. https://en.wikipedia.org/wiki/File:ABCD.jpg
                        </small>

                        <!-- Get platform & language -->

                        <div class="form-group" style="width: 100%;">
                            <label for="tr-project">Select Project</label>
                            <select class="form-control" id="tr-project" name="tr-project">
                                <option value="wikipedia">Wikipedia</option>
                                <option value="wikisource">Wikisource</option>
                                <option value="wikibooks">Wikibooks</option>
                                <option value="wikinews">Wikinews</option>
                                <option value="wikiquote">Wikiquote</option>
                                <option value="wiktionary">Wiktionary</option>
                                <option value="wikiversity">Wikiversity</option>
                            </select>

                            <br/>

                            <label for="lang">Select Language</label>
                            <select class="form-control" id="tr-lang" name="tr-lang"">
                                <option value="as">Assamese</option>
                                <option value="bn">Bangla</option>
                                <option value="bh">Bhojpuri</option>
                                <option value="bpy">Bishnupriya Manipuri</option>
                                <option value="gu">Gujarati</option>
                                <option value="en">English</option>
                                <option value="hi">Hindi</option>
                                <option value="kn">Kannada</option>
                                <option value="ks">Kashmiri</option>
                                <option value="gom">Konkani</option>
                                <option value="mai">Maithili</option>
                                <option value="ml">Malayalam</option>
                                <option value="mr">Marathi</option>
                                <option value="ne">Nepali</option>
                                <option value="new">Newari</option>
                                <option value="or">Oriya</option>
                                <option value="pi">Pali</option>
                                <option value="pa">Punjabi</option>
                                <option value="sa">Sanskrit</option>
                                <option value="sat">Santali</option>
                                <option value="sd">Sindhi</option>
                                <option value="ta">Tamil</option>
                                <option value="te">Telugu</option>
                                <option value="tcy">Tulu</option>
                                <option value="ur">Urdu</option>
                            </select>
                        </div>

                        <!-- End of platform & language -->

                        <div class="input-group-prepend" style="width: 100%;">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input type="text" name="tr-filename" id="tr-filename" class="form-control" placeholder="Name of the Target file"
                            />
                        </div>
                        <small class="form-text text-muted" style="margin-bottom:20px;">
                            Enter Name of the target file without File: or Image: prefix and Image extension suffix<br>
                            Ex. ABCD
                        </small>
                        <div id="trfilename-error-hint" style="width: 100%;display: none;color: red"></div>

                        <button type="submit" id="wt-submit" disabled class="btn btn-primary" style="width: 100%;">
                            <i class="fa fa-upload" aria-hidden="true"></i> Upload to Target wiki
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    {% endif %}
{% endblock main %}
