{% extends 'base.html' %}

{% block main %}

{% if error is not none %}
<div class="alert alert-danger" role="alert">
  <p>Something went wrong while uploading the image :-/</p>
</div>
{% else %}
<div class="alert alert-success" role="alert">
  <p>Image is successfully uploaded to Target Wiki!</p>
  <a href="{{wikifileURL}}" target="_blank"> Click here to view it.</a>
</div>
<div>
  <img class="img-thumbnail rounded" src="{{fileLink}}">
  <br>
  <br>
  <a class="btn btn-primary" href="{{ url_for('index') }}">
  </p>Go back to home page</p>
  </a>
</div>
{% endif %}

{% endblock %}